.main-forms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.title{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.main-forms form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-forms input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.main-forms button {
  background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  color: white;
  padding: 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  width: 100%;
}

.main-forms #toast {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  transition: top 0.5s ease;
}

.main-forms #toast.hidden {
  top: -500px;
}