.main-forms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.main-forms .title{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.main-forms form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-forms input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.main-forms button {
  background-color: rgb(127, 76, 175);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;

  margin-bottom: 10px;
}