<div class="main-forms">
  <h1 class="title">Funny Images</h1>
  <form action="" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Entrar</button>
  </form>

  <div id="toast" class="hidden"></div>
</div>

<script>
  const form = document.querySelector('form');
  const email = document.querySelector('#email');
  const password = document.querySelector('#password');
  const errorMessage = document.querySelector('#error-message');

  const showToast = (message) => {
    toast.textContent = message;
    toast.classList.remove('hidden');
    setTimeout(() => {
      toast.classList.add('hidden');
    }, 3000);
  };

  const handleLogin = async (email, password) => {
    try {
      const response = await fetch('/auth/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ email, password }),
      });

      const data = await response.json();
      
      if (data.status === 200) {
        window.location.href = '/';
      } else {
        showToast(data.message || 'Erro durante o login');
      }
  
    } catch (err) {
      console.error(err);
    }
  }

  form.addEventListener('submit', (e) => {
    e.preventDefault();
    const email = e.target.email.value;
    const password = e.target.password.value;


    handleLogin(email, password);
  })

</script>